@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="container" style="margin-top:15%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <header class="text-center">
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">This account has been locked out, please contact an administrator at +40751416571.</p>
            </header>
        </div>
    </div>
</div>
