html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.input-validation-error {
    border: 2px solid red;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid black; /* Set border style */
    padding: 8px; /* Add padding for better spacing */
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Optional: Set minimum height for full viewport */
}
.create_button {
    display: inline-block;
    padding: 10px 20px; /* Adjusted padding */
    font-size: 20px; /* Adjusted font size */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
    border-radius: 10px; /* Adjusted border radius */
    box-shadow: 0 6px #999; /* Adjusted box shadow */
}

    .create_button:hover {
        background-color: #3e8e41;
    }

    .create_button:active {
        background-color: #3e8e41;
        box-shadow: 0 3px #666; /* Adjusted box shadow */
        transform: translateY(2px); /* Adjusted translateY */
    }
#benefits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#benefits-physical,
#benefits-mental {
    flex-basis: calc(35% - 20px); /* Adjust as needed */
    max-width: calc(35% - 20px); /* Adjust as needed */
    margin: 10px;
}

#benefits-image {
    flex-basis: calc(30% - 20px); /* Adjust as needed */
    max-width: calc(30% - 20px); /* Adjust as needed */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-plan {
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555555;
    margin: 15px;
    background-color: #343a40;
}

.pricing-plan__highlighted {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.pricing-plan__header {
    padding: 25px;
    background-color: #343a40;
    color: white;
}

.pricing-plan__title,
.pricing-plan__summary {
    margin: 0;
    text-align: center;
}

.pricing-plan__title {
    font-size: 1.5em;
    font-weight: 400;
}

.pricing-plan__summary {
    font-size: 1em;
    font-weight: 300;
}

.pricing-plan__description {
    padding: 25px;
}

.pricing-plan__list {
    padding: 0;
    margin: 0;
}

.pricing-plan__feature {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    font-size: 0.9em;
    color: #fff;
}

    .pricing-plan__feature:not(:last-child) { /*target every feature except the last one */
        margin-bottom: 0.5em;
    }

    .pricing-plan__feature::before { /* virtual html element in css to include it on the left side ( checkmark ) */
        content: "\2714";
        color: #009578;
        left: 0;
    }

.pricing-plan__actions {
    padding: 25px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.pricing-plan__button {
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: #343a40;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #343a40;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-weight: bold;
}


.pricing-plan__cost {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: red;
}

.pricing-plan__text {
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
    color: azure;
}

.pricing-plan__special-text {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background: #22262a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.pricing-plan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.schedule {
    width: 80%;
    margin: 20px auto;
    background-color: #98cbdb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333; /* Adjust text color as needed */
}

.hours-container {
    display: flex;
    flex-direction: column; /* Stack opening hours vertically */
}

.opening-hours {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align day and time */
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f5f5f5; /* Light background for opening hours */
}

.day {
    font-weight: bold;
    flex-grow: 1; /* Allow day text to grow within available space */
}

.time {
    color: #666; /* Adjust time text color as needed */
}
